.startpage-class {
  width: auto;
  // background-image: url('./img/startpage/startpage-bg.jpg');
  background-image: linear-gradient(79deg, #f23b58, #bf0a27 48%, #a60520);
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  width: 300px;
  height: 300px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px;
}

.svg-blood {
  width: 100px;
  height: 100px;
}

.BG-SVG {
  transform: rotate(180deg);
  bottom: 0px;
}

.startpage-div-text {
  color: white;
  text-align: center;
  width: auto;
  height: auto;
}

.startpage-div-text > h2 {
  margin-top: 200px;
}

.firstElement-section {
  width: 300px;
  height: 300px;
  /* Center vertically and horizontally */
  position: absolute;
  top: 30%;
  left: 40%;
  margin: -25px 0 0 -25px;
}

.fistElementDiv {
  top: 90px;
  left: 25%;
  position: relative;
  width: 50%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Center vertically and horizontally */
  text-align: center;
}

.fistElement-text {
  text-align: center;
  height: auto;
  width: 300px;
  text-align: center;
}

.firstElement-text > h2 {
  margin-top: 20px;
}

.firstElement-text > h6 {
  margin-top: 15px;
}

.SecondElement-section {
  width: 100%;
  height: auto;
  /* Center vertically and horizontally */
  position: absolute;
  margin: -25px 0 0 -25px;
}

.SecondElementDiv {
  left: 26%;
  top: 90px;
  right: 10px;
  position: relative;
  width: 50%;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Center vertically and horizontally */
  text-align: center;
}

.SecondElement-text {
  position: relative;
  text-align: center;
  height: auto;
  width: auto;
  text-align: center;
}

.SecondElement-text > h2 {
  margin-top: 20px;
}

.SecondElement-text > h6 {
  margin-top: 15px;
}

.skip-btn {
  width: 15%;
  border: 1px solid red;
  color: red;
  margin-top: 50px;
  margin-right: 100px;
  background-color: white;
}
.next-btn {
  width: 15%;
  border: 1px white;
  color: white;
  background-color: #f44336;
}

.skip2-btn {
  width: 15%;

  margin-top: 35px;
  margin-right: 100px;
  background-color: white;
  border: 1px white;
  color: white;
  background-color: #f44336;
}
.next2-btn {
  width: 15%;
  border: 1px solid red;
  color: red;
  background-color: white;
}
